mixin pagination
  .pag
    a(href="#").pag__item.left
    a(href="#").pag__item.active 1
    a(href="#").pag__item 2
    a(href="#").pag__item 3
    a(href="#").pag__item ...
    a(href="#").pag__item 11
    a(href="#").pag__item.right
