@import (inline) "normalize.css/normalize.css";

@desktop-mini: ~"(max-width: 1200px)";
@plan: ~"(max-width: 768px)";
@mobile: ~"(max-width: 480px)";

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  height: 100%;
}

body {
  background-color: #fff;
  line-height: 1.25rem;
  height: 100%;
}

html, body, .page {
  width: 100%;
}

.index-menu {
  margin: 2rem 4rem;
  font-size: 1.25rem;
  background-color: #1f613b;
  color: #fff;
  padding: 2rem 4rem;
  border-radius: .5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  & a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & li {
    margin-bottom: 10px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  min-height: 100vh;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  //margin-bottom: 4px;

  &-top {
    display: flex;
    align-items: center;
    height: 7.5rem;
  }

  &-logo {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 88px;
    padding-left: 66px;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #1f613b;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 100%;
      background: data-uri('../images/svg/logo.svg') no-repeat left bottom;
      background-size: 100%;
    }
  }

  &-contacts {
    margin-left: auto;

    &__item {
      display: inline-block;
      vertical-align: top;
      font-size: .875rem;
      margin-left: 1.625rem;

      & > a {
        color: #1f613b;
        font-weight: bold;
        transition: .3s;

        &:hover {
          color: #35a664;
        }
      }

      & > span {
        color: #808080;

        & > b {
          color: #333;
          font-size: 1rem;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  & .ui-selectmenu-button {

    &.ui-button {
      margin-left: 1rem;
      border: none;
      background: #fff;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #1f613b;
      width: 65px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 0;
      padding-top: 2px;
      padding-bottom: 6px;

      & .ui-icon {
        background: data-uri('../images/svg/arrow.svg') no-repeat center;
        background-size: 8px 4px;
        margin-top: 2px;
        transition: .3s;
      }

      & .ui-selectmenu-text {
        margin-right: 0;
      }

      &.ui-selectmenu-button-open .ui-icon {
        transform: rotate(180deg);
      }
    }
  }
}

.ui-selectmenu-menu {

  & .ui-widget.ui-widget-content {
    border: 2px solid #1f613b;
  }

  & .ui-menu {
    overflow: hidden;
    font-family: 'Museo Cyrl 700', sans-serif;
    padding-bottom: 0;

    & .ui-state-focus, & .ui-state-active {
      margin: 0;
    }
  }

  & .ui-menu-item-wrapper {
    border: none;

    &.ui-state-active {
      background: #ffbb00;
      color: #333;
    }
  }

  & .ui-menu-item {

    &:first-child {
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }
}

.menu {
  background-color: #1f613b;

  & > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & > li {
      display: inline-block;
      position: relative;

      &:hover {

        & > .menu__item {
          color: #ffbb00;
        }

        & > .submenu {
          opacity: 1;
          visibility: visible;
          z-index: 100;
        }
      }

      &.parent {

        & > .menu__item {
          padding-right: 30px;

          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 100%;
            background: data-uri('../images/svg/arrow-down.svg') no-repeat center;
            background-size: 10px;
            transition: background-image .3s;
          }
        }

        &:hover > .menu__item:after {
          background-image: data-uri('../images/svg/arrow-down-active.svg');
        }
      }
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
    padding: 1.125rem 1rem 1rem;
    transition: .3s;
    white-space: nowrap;

    &.active, &:hover {
      color: #ffbb00;
    }

    &:hover {
      cursor: pointer;
    }

    &.search {
      padding: 1.5rem;
      background: data-uri('../images/svg/magnify.svg') no-repeat center;
      background-size: 20px;

      &:hover, &.active {
        background-image: data-uri('../images/svg/magnify-active.svg');
      }
    }
  }
}

.search-form {
  position: absolute;
  top: ~"calc(100% + 4px)";
  right: 13px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: 100% 0;
  -webkit-transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
  transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
  transition: visibility 0s .3s, transform .3s, opacity .3s;
  transition: visibility 0s .3s, transform .3s, opacity .3s, -webkit-transform .3s;
  z-index: 100;

  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
    transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
    transition: visibility 0s .3s, transform .3s, opacity .3s;
    transition: visibility 0s, transform .3s, opacity .3s, -webkit-transform .3s;
  }

  &__input {
    display: block;
    width: 510px;
    height: 54px;
    padding: 0 110px 0 20px;
    background: #fff;
    border: 2px solid #1f613b;
    outline: none;
  }

  &__button {
    position: absolute;
    font-size: .875rem;
    top: 7px;
    right: 7px;
    width: 88px;
    height: 40px;
    background-color: #ffbb00;
    border: 2px solid #ffbb00;
    color: #333;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      cursor: pointer;
      background-color: #fff;
    }
  }

  @media @desktop-mini {
    right: 0;
  }
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 3px;
  background-color: #1f613b;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: opacity .3s;

  & > li {
    padding: 0 10px;
    position: relative;

    &:last-child > .submenu__item {
      border-bottom: none;
    }

    &.parent {
      position: relative;

      & > .submenu__item {
        padding-right: 20px;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: data-uri('../images/svg/arrow-menu.svg') no-repeat center;
        background-size: 10px;
        transition: .3s;
      }

      &:hover {

        & > .submenu__item {
          color: #ffbb00;
        }

        &:after {
          background-image: data-uri('../images/svg/arrow-menu-active.svg');
        }

        & > .submenu {
          opacity: 1;
          visibility: visible;
          z-index: 100;
        }
      }
    }
  }

  &__item {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #216f48;
    transition: color .3s;

    &:hover {
      color: #ffbb00;
    }

    & + .submenu {
      left: 100%;
      top: 0;
    }
  }
}

.main {
  flex: 1 0 auto;
  position: relative;

  & > .wrapper {
    background-color: #fff;
    position: relative;
    z-index: 10;
    padding-top: 6px;
  }

  &-slider {
    width: ~"calc(100% - 22.875rem)";
    height: 100%;

    & .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;
      background: no-repeat center;
      background-size: cover;
    }

    &__wrap {
      width: 100%;
      height: 100%;
    }

    &__desc {
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: 'Museo Cyrl 900', sans-serif;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 0 4rem;
      letter-spacing: 1px;
    }

    &-thumbs {
      width: 22.375rem;
      height: 100%;

      & .swiper-wrapper {
        margin-top: ~"calc(-50% - 10px)";
      }

      & .swiper-slide {
        height: 122px;
        background: no-repeat center;
        background-size: cover;

        &:hover {
          cursor: pointer;
        }

        & .main-slider__wrap {
          background-color: rgba(0, 0, 0, .4);
        }

        &.swiper-slide-active {

          & .main-slider__wrap {
            background-color: #1f613b;
          }
        }
      }
    }
  }

  &-sliders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 31rem;
    position: relative;
    margin-bottom: 1.75rem;

    &:after {
      content: '';
      position: absolute;
      left: -28px;
      top: 100%;
      width: 321px;
      height: 380px;
      background: url('../images/back-grey.svg') no-repeat center;
    }
  }

  &-news {
    padding: 6.875rem 0 8rem;
    background-color: #1f613b;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('../images/news.png') no-repeat center 97%;
      background-size: cover;
      opacity: .2;
      z-index: 1;
    }

    & .wrapper {
      position: relative;
      z-index: 2;
    }

    &-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      display: block;
      max-width: 22rem;
      color: #fff;

      & .h1, & .h3 {
        color: inherit;
      }

      & p {
        margin: 0 0 1.75rem;
        line-height: 1.5rem;
      }

      &-date {
        font-size: .875rem;
        font-weight: bold;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -5px;
      top: -380px;
      width: 321px;
      height: 380px;
      background: url('../images/back-grey.svg') no-repeat center;
      transform: rotate(180deg);
      z-index: -1;
    }
  }
}

a.main-news__item {
  display: block;

  & .h3 {
    transition: .3s;
  }

  &:hover .h3 {
    color: #ffbb00;
  }
}

.presentation {
  display: flex;
  justify-content: space-between;
  padding: 86px 100px;
  position: relative;
  text-transform: uppercase;
  line-height: 1.25rem;
  margin-bottom: 2rem;

  &__name {
    font-size: 1.125rem;
    font-weight: 900;
    color: #1f613b;
  }

  &__desc {

    & > span {
      display: block;
      color: #1f613b;
      font-weight: bold;

      & > b {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: bold;
      }
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    background: no-repeat center;
    background-size: 100%;
  }

  &:before {
    left: 0;
    top: 0;
    background-image: data-uri('../images/svg/segment.svg');
  }

  &:after {
    right: 0;
    bottom: 0;
    background-image: data-uri('../images/svg/segment-right.svg');
    transform: rotate(180deg);
  }
}

.greeting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;

  &-left {
    width: 18rem;
    text-align: center;
  }

  &-right {
    width: ~"calc(100% - 20rem)";

    & p {
      font-size: 15px;
      line-height: 1.5rem;
      margin: 0 0 1.25rem;
    }

    & .h1 {
      color: #1f613b;
    }
  }

  &__img {
    max-width: 100%;
    margin-bottom: 1.75rem;
  }

  &__director {
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 1.25rem;
  }

  &__position {
    color: #888;
    font-style: italic;
    font-size: 15px;
    line-height: 1.375rem;
    margin-bottom: 1rem;
  }
}

.button {
  display: inline-block;
  vertical-align: top;
  background: #ffbb00;
  border: 4px solid #ffbb00;
  font-weight: bold;
  font-size: .875rem;
  padding: 1.25rem 2rem 1.125rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  outline: none;
  transition: .3s;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }

  &.success {
    background-color: #1caad9;
    border-color: #1caad9;
    color: #fff;
    text-transform: none;
    position: relative;
    padding: 1rem 2rem 1rem 67px;

    &:hover {
      cursor: default;
      background-color: #1caad9;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 67px;
      height: 100%;
      background: data-uri('../images/svg/success.svg') no-repeat center;
      background-size: 28px 24px;
    }
  }

  &.more {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #808080;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .3s;
    }

    &:before {
      background-color: #e6e6e6;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('../images/loader.svg') no-repeat center;
      background-size: 60px;
      opacity: 0;
      transition: .3s;
    }

    &.wait {

      &:before, &:after {
        opacity: 1;
      }
    }

    &:hover {
      background-color: #e6e6e6;
    }
  }
}

.h1, .h2, .h3, .h4 {
  font-family: 'Museo Cyrl 700', sans-serif;
  margin: 0 0 2rem;
}

.h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.75rem;

  & > span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
}

.h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #161a1a;
  padding: 2.375rem 0 3rem;
  color: #ccc;
  font-size: .875rem;

  &-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5.5rem;
  }

  &-left {
    width: 80%;

    & > p {
      margin: 0 0 .5rem;

      & > b {
        color: #fff;
      }
    }
  }

  &-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  &-bottom {
    text-align: center;
  }
}

.uw {
  display: inline-block;
  vertical-align: top;
  width: 141px;
  height: 43px;
  background: data-uri('../images/svg/uw.svg') no-repeat center;
  background-size: 100%;
  transition: .3s;

  &:hover {
    background-image: data-uri('../images/svg/uw-active.svg');
  }
}

.breadcrumbs {
  margin-top: 6px;
  margin-bottom: .5rem;

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    margin-right: 12px;
    font-size: 13px;
    position: relative;
    color: #808080;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 15px;
      height: 100%;
      background: data-uri('../images/svg/arrow-grey.svg') no-repeat right center;
      background-size: 6px;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

a.breadcrumbs__item {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.detail {
  margin-bottom: 4rem;

  &__img {
    max-width: 30rem;
    float: left;
    margin: 0 2.5rem 2.5rem 0;
  }

  & p {
    font-size: .875rem;
    margin: 0 0 1.5rem;
    line-height: 1.375rem;

    & > a {
      color: #1f613b;
      font-weight: bold;
      transition: .3s;

      &:hover {
        color: #35a664;
      }
    }
  }

  &-block {
    padding-top: 2.375rem;
    border-top: 2px solid #e6e6e6;

    &.no-line {
      border-top: none;
      padding-top: 0;
      margin-bottom: 2rem;
    }
  }

  &, &-block {

    ol, ul {
      font-size: .875rem;
      list-style-type: none;
      padding: 0;
      margin: 0 0 2rem;

      & > li {
        margin-bottom: 1rem;
        position: relative;
        padding-left: 2.5rem;

        &:before {
          content: '';
          width: 2.5rem;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    ol {
      counter-reset: item;

      & > li {

        &:before {
          content: counter(item) '.';
          counter-increment: item;
          font-weight: bold;
          color: #1f613b;
        }
      }
    }

    ul {

      & > li {

        &:before {
          background: data-uri('../images/svg/arrow-green.svg') no-repeat left center;
          background-size: 10px;
        }
      }
    }
  }

  &-info:after {
    content: '';
    display: block;
    clear: both;
  }

  &-gal {
    width: 100%;
    height: 22.5rem;
    margin-bottom: 4px;

    &-block {
      width: 37.5rem;
      margin-right: 2.5rem;
    }

    &__item {
      display: block;
      width: 100%;
      height: 100%;

      &-img {
        width: 100%;
        height: 100%;
        background: no-repeat center;
        background-size: cover;
      }
    }

    &-thumbs {
      width: 100%;
      height: 7.25rem;

      &__item {
        width: 9.75rem;
        height: 100%;
        border: 4px solid #fff;

        &.swiper-slide-active {
          border-color: #ffbb00;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.file {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding-right: 2rem;
  padding-left: 60px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2.5rem;
  min-height: 50px;
  transition: .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 50px;
    background: data-uri('../images/svg/file.svg') no-repeat center;
    background-size: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 22px;
    box-sizing: border-box;
    transition: .3s;
  }

  &:hover {
    color: #ffbb00;

    &:before {
      color: #ffbb00;
    }
  }
}

.file[href$='.doc']:before { content: 'doc'; }
.file[href$='.docx']:before { content: 'docx'; }
.file[href$='.doc']:before, .file[href$='.docx']:before { background-image: data-uri('../images/svg/file-doc.svg'); }

.file[href$='.ppt']:before { content: 'ppt'; }
.file[href$='.pptx']:before { content: 'pptx'; }
.file[href$='.ppt']:before, .file[href$='.pptx']:before { background-image: data-uri('../images/svg/file-ppt.svg'); }

.file[href$='.xls']:before { content: 'xls'; }
.file[href$='.xlsx']:before { content: 'xlsx'; }
.file[href$='.xls']:before, .file[href$='.xlsx']:before { background-image: data-uri('../images/svg/file-xls.svg'); }

.file[href$='.rar']:before { content: 'rar'; }
.file[href$='.zip']:before { content: 'zip'; }
.file[href$='.rar']:before, .file[href$='.zip']:before { background-image: data-uri('../images/svg/file-rar.svg'); }

.file[href$='.pdf']:before { content: 'pdf'; }
.file[href$='.pdf']:before { background-image: data-uri('../images/svg/file-pdf.svg'); }

.tabs {
  position: relative;

  &__input {
    display: none;

    &:checked + .tabs__label {
      color: #333;
      border-left: 2px solid #e6e6e6;
      border-right: 2px solid #e6e6e6;
      border-bottom: none;
      z-index: 2;

      &:before {
        opacity: 1;
      }
    }

    &[data-one]:checked ~ .tabs__section[data-one],
    &[data-two]:checked ~ .tabs__section[data-two] {
      display: block;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    position: relative;
    text-align: center;
    padding: 1.125rem 1rem 1rem;
    height: 3.25rem;
    white-space: nowrap;
    z-index: 1;
    background-color: #fff;

    &:before {
      content: '';
      position: absolute;
      left: -2px;
      top: 0;
      width: ~"calc(100% + 4px)";
      height: 4px;
      background-color: #1f613b;
      transition: .3s;
      opacity: 0;
      z-index: 2;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__section {
    display: none;
    animation: fadein 1s;
    margin-top: 2rem;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: ~"calc(3.25rem - 2px)";
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
    z-index: 1;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.table {
  width: 100%;
  display: block;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 2rem;

  & tbody, & tr {
    width: 100%;
  }

  & td, & th {
    background-color: #fff;
    padding: 10px 5px 9px 20px;
    width: 15%;
    text-align: left;
    vertical-align: top;
  }

  & tr:nth-child(2n) td {
    background-color: #f2f2f2;
  }

  & .file {
    width: auto;
  }

  &.col-3 {

    & td, & th {
      padding-bottom: .5rem;
    }

    & th:first-child, & td:first-child {
      width: 10%;
      text-align: center;
      padding-left: 0;
    }

    & th:nth-child(2), & td:nth-child(2) {
      width: 50%;
      padding-right: 2rem;
    }

    & th:last-child, & td:last-child {
      width: 35%;
    }
  }

  &.col-2 {

    & tbody {
      display: table;
    }

    & th:first-child, & td:first-child {
      width: 25%;
    }

    & th:last-child, & td:last-child {
      width: 75%;
    }
  }
}

.form {
  margin-bottom: 2rem;

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .form-control {
      margin-left: 1.875rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-control {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;

    & > span {
      display: none;
      vertical-align: top;
      color: #e3301d;
      position: absolute;
      right: 0;
      top: 0;
      font-size: .875rem;
    }

    &.err {

      & .form__input {
        border-bottom-color: #e3301d;
      }

      & > span {
        display: inline-block;
        top: 1rem;
        transition: .3s;
      }
    }

    &.with-file {

      & .form__label {

        @media @desktop-mini {
          top: 0;
        }
      }
    }

    &.search {
      position: relative;
      padding-top: 0;
      height: 64px;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity .5s ease-out, transform .5s ease-out;

      & .form__input {
        border-color: #35a664;
        padding-right: 64px;
        padding-left: 1rem;
        height: 100%;
        font-size: 20px;
        color: #fff;
      }

      & .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 64px;
        height: 100%;
        background: data-uri('../images/svg/magnify.svg') no-repeat center;
        background-size: 32px;
        border: none;
        outline: none;
      }
    }
  }

  &__input {
    border: none;
    background: transparent;
    width: 100%;
    height: 2.25rem;
    outline: none;
    border-bottom: 4px solid #1f613b;
    transition: .3s;

    &.text {

      & + .form__label, & ~ span {
        top: 0;
      }
    }

    &:focus {
      border-bottom-color: #35a664;

      & + .form__label, & ~ span {
        top: 0;
      }
    }

    &[type="checkbox"] {
      display: none;

      & + .form__label {
        position: relative;
        left: auto;
        top: auto;
        padding-left: 46px;
        color: #333;
        font-size: 1rem;
        min-height: 30px;
        display: flex;
        align-items: center;
        font-weight: 600;

        &:before, &:after {
          content: '';
          position: absolute;
          left: 0;
          top: ~"calc(50% - 15px)";
        }

        &:before {
          width: 26px;
          height: 26px;
          border: 2px solid #1f613b;
        }

        &:after {
          width: 30px;
          height: 30px;
          background: #1f613b data-uri('../images/svg/check.svg') no-repeat center;
          background-size: 20px;
          opacity: 0;
          transition: .3s;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &:checked + .form__label {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: absolute;
    left: 0;
    top: 1rem;
    color: #808080;
    font-size: .875rem;
    transition: .3s;
  }

  &-captcha {
    margin-right: 7rem;
  }

  & .button {
    font-size: 1rem;
  }
}

.timeline {

  &__item {
    display: flex;
    padding-top: 40px;
    position: relative;
    margin-bottom: 14px;

    &-left {
      display: flex;
      width: 96px;
      justify-content: center;
      padding-bottom: 40px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      position: relative;

      &:before {
        left: 44px;
        top: 6px;
        transform: rotate(180deg);
      }

      &:after {
        content: '';
        position: absolute;
        left: 44px;
        top: 52px;
        width: 8px;
        height: 50%;
        background-color: #e6e6e6;
      }

      &.big:after {
        height: 85%;
      }

      &.medium:after {
        height: 67%;
      }
    }

    &-right {
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      width: ~"calc(100% - 120px)";

      & > p {
        margin: 0 0 .75rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:before {
      left: 0;
      top: 0;
    }

    &:before, .timeline__item-left:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      background: data-uri('../images/svg/time-line.svg') no-repeat center;
      background-size: 100%;
    }

    &:last-child {

      & .timeline__item-left:after {
        display: none;
      }
    }
  }
}

.units {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 15rem;

    &-block {
      position: relative;
      width: 100%;
      height: 100%;
      border: 6px solid #fff;
      border-radius: 16px;
      background-color: #36945f;
      overflow: hidden;
      transition: .3s;
    }

    &-wrap, &-name {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-wrap {
      background: no-repeat center;
      background-size: cover;
      opacity: .4;
    }

    &-name {
      color: #fff;
      font-family: 'Museo Cyrl 700', sans-serif;
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 3.375rem 1rem 1rem 2.375rem;
    }

    &:hover {

      & .units__item-block {
        border-color: #ffbb00;
      }
    }
  }

  &.products {

    & .units__item-block {
      background-color: #333;
      border-radius: 0;
    }

    & .units__item-name {
      padding-top: 2rem;
    }
  }
}

.gallery {
  margin: 2rem 0;

  &-item {
    width: 18.5rem;
    height: 12.25rem;
    margin-right: 4px;
  }
}

.reg {
  position: relative;
  width: 760px;
  height: 512px;
  margin: 0 auto;

  &-item {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    width: 344px;
    height: 144px;
    border: 8px solid #1f613b;
    padding: 24px 30px 5px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: -48px;
      width: 8px;
      height: 40px;
      background-color: #e6e6e6;
    }

    &__name {
      font-size: 18px;
      font-weight: bold;
      color: #1f613b;
      margin-bottom: 32px;
      transition: .3s;
    }

    &__desc {
      font-size: 13px;
      color: #808080;
    }

    &.first {
      left: ~"calc(50% - 172px)";
      top: 0;

      &:after {
        display: none;
      }
    }

    &.second {
      top: 184px;

      &:after {
        left: auto;
        right: 68px;
      }
    }

    &.third {
      top: 184px;
      left: auto;
      right: 0;

      &:after {
        left: 68px;
      }
    }

    &.fouth {
      top: auto;
      bottom: 0;

      &:after {
        left: auto;
        right: 68px;
      }
    }

    &:hover .reg-item__name {
      color: #ffbb00;
    }
  }
}

.popup {
  text-align: left;

  &-block {
    display: none;
  }

  &.flex {
    display: flex;
  }

  &-left {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #005532 no-repeat center;

    & > img {
      max-width: 100%;
    }
  }

  &-right {
    width: ~"calc(100% - 30rem)";
    padding: 1.875rem 5rem 6.25rem;
    position: relative;

    &.detail {
      margin-bottom: 0;
    }
  }

  &.plus-form {

    & .popup-left {
      width: 37.5rem;

      & > img {
        object-fit: cover;
      }
    }

    & .popup-right {
      width: ~"calc(100% - 37.5rem)";
      padding: 2rem 2.5rem;
      display: flex;
      flex-direction: column;

      & .form-flex:last-child {
        margin-top: 2rem;
      }
    }

    & .popup__button {
      position: static;
    }
  }

  &__button {
    background: #fff;
    border: 4px solid #e6e6e6;
    color: #808080;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 37px;
    outline: none;
    transition: .3s;

    &:hover {
      cursor: pointer;
      background-color: #e6e6e6;
    }
  }

  & .detail {
    margin-bottom: 0;
    padding: 1.875rem 5rem;
  }
}

.jBox {

  &-Modal {

    & .jBox-container {
      box-shadow: none;
      border-radius: 0;
    }

    & .jBox-content {
      padding: 0;
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, .5);

    & .jBox-closeButton {
      display: none;
    }
  }
}

.flex {
  display: flex;
}

.space-b {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.characteristic {
  display: flex;
  justify-content: space-between;
  font-size: .875rem;
  margin-bottom: 2rem;

  &-left {
    font-weight: bold;
    width: 10rem;
  }

  &-right {
    width: ~"calc(100% - 10rem)";
    padding: 0 1rem;
  }

  &-block {
    width: 50%;

    & .file {
      display: block;
      width: 100%;
    }

    &.min .characteristic {
      margin-bottom: 1.25rem;
    }
  }
}

.types {
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 15.375rem;
    height: 12.25rem;
    margin: 0 4px 4px 0;

    & > img {
      max-width: 100%;
    }
  }

  &-more {
    margin-top: 2.5rem;
  }
}

.with-mar {
  margin-bottom: 2.5rem;
}

.logic {

  & > .table {
    width: ~"calc(100% - 452px)";
  }
}

.train {
  width: 440px;
  height: 147px;
  background: url('../images/train.png') no-repeat center;
}

.range {
  font-size: .875rem;
  width: 30.125rem;

  &__item {

    &:first-child {
      width: 25%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:last-child {
      width: 45%;
    }

    &.head {
      font-weight: bold;
      padding-top: 9px;
    }
  }

  & + .table {
    width: ~"calc(100% - 30.125rem)";
    margin-bottom: 0;
  }

  & > .flex.align-center {
    height: ~"calc(100% - 20px)";
  }
}

.activities {
  display: flex;
  justify-content: space-between;

  &-left {
    width: ~"calc(100% - 21.25rem)";
  }

  &-right {
    width: 18.75rem;
  }
}

.contacts {
  position: relative;
  padding-top: 82px;
  display: inline-block;
  vertical-align: top;
  font-size: .875rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background: data-uri('../images/svg/contacts.svg') no-repeat center;
  }

  &-block {
    margin-bottom: 1.5rem;
  }

  &-left {
    width: 5.5rem;
    font-weight: bold;
  }

  &-right {

    & > a:hover {
      text-decoration: underline;
    }
  }
}

.news {

  &-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;

    &-left {
      width: 20rem;
    }

    &-right {
      width: ~"calc(100% - 22.5rem)";
    }

    &__img {
      max-width: 100%;
    }

    &__date {
      font-size: 13px;
      color: #808080;
      margin-bottom: 1rem;
    }

    & .h4 {
      transition: .3s;
    }

    & p {
      margin-bottom: 0;
    }

    &:hover {

      & .h4 {
        color: #ffbb00;
      }
    }
  }
}

.pag {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.active {
      background-color: #ffbb00;
    }

    &.left, &.right {
      background: data-uri('../images/svg/pag.svg') no-repeat center;
      background-size: 9px 14px;
    }

    &.right {
      transform: rotate(180deg);

      &:after {
        bottom: auto;
        top: 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #ffbb00;
      opacity: 0;
      transition: .3s;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}

.work {
  width: 50px;
  margin-bottom: 1rem;

  &__img {
    max-width: 100%;
  }
}

div.jfilestyle {
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 0;

  &.jfilestyle-corner input:first-child {
    padding: 10px 10px 0 0;
    background: transparent;
    border: none;
    border-bottom: 4px solid #1f613b;
    height: 100%;
    outline: none;
    border-radius: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  &.jfilestyle-corner span:last-child > label {
    background: #1f613b;
    color: #fff;
    width: 132px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
  }
}

.photo {
  margin-left: -1.25rem;
  text-align: center;

  &-item {
    display: inline-block;
    vertical-align: top;
    width: 24.125rem;
    margin: 0 0 1rem 1.25rem;

    &__img {
      max-width: 100%;
      max-height: 15rem;
      margin-bottom: 1rem;
    }

    & .h4 {
      margin-bottom: .5rem;
      transition: .3s;
    }

    &:hover {

      & .h4 {
        color: #ffbb00;
      }
    }
  }

  &.inner {
    margin-left: -4px;
    margin-bottom: 2rem;

    & .photo-item {
      width: 24.75rem;
      height: 240px;
      margin: 0 0 4px 4px;

      &__img {
        max-height: 100%;
      }
    }
  }
}

.subunit {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  font-size: 14px;
  margin-bottom: 2.5rem;

  &.line {
    width: 100%;
  }

  &__name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Museo Cyrl 700', sans-serif;
    margin-bottom: 1rem;
  }

  &-phone {

    &__name {
      width: 72px;
    }

    &__item {
      margin-left: 5px;
    }
  }

  & .email {
    margin-left: 2rem;
  }

  & p {
    margin-bottom: 1rem;
  }

  & .h4 {
    font-family: 'Open Sans', sans-serif;
  }
}

.email {
  font-size: 14px;

  & > a {
    color: #1f613b;
    font-weight: bold;
    transition: .3s;

    &:hover {
      color: #35a664;
    }
  }
}

.map {
  width: 100%;
  height: 480px;
  position: relative;
  background: url('../images/map.png') no-repeat -8px center;
  background-size: cover;

  &__button {
    width: 36px;
    height: 51px;
    position: absolute;
    background: data-uri('../images/svg/map-point.svg') no-repeat center;
    background-size: 100%;
    outline: none;
    border: none;
    transition: .3s;

    &:hover {
      cursor: pointer;
      background-image: data-uri('../images/svg/map-point-active.svg');
    }
  }

  &-popup {
    width: 300px;
    padding: 20px 30px;

    & .greeting__position {
      font-size: 14px;
    }
  }
}

.display-none {
  display: none;
}

.rhombus {

  &-left, &-right {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 321px;
    height: 380px;
    background: url('../images/back-grey.svg') no-repeat center;
  }

  &-right {
    transform: rotate(180deg);
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }
}
