header.header
  .header-top.wrapper
    .mobile
      button(type="button").mobile__button.js-mobile
        span
        span
        span
        span
    a(href="#").header-logo
      span Югорский<br>лесопромышленный холдинг
    .header-contacts
      .header-contacts__item
        i E-mail:
        a(href="#")  office@ugratimber.ru
      .header-contacts__item
        i Телефон:
        span  +7 3467
          b  35-62-73
      .header-contacts__item
        i Факс:
        span  +7 3467
          b  36-30-33
    select#lang
      option(value="ru", selected) RU
      option(value="en") EN
  nav.menu
    ul.wrapper
      li
        a(href="#").menu__item О компании
        ul.submenu
          li
            a(href="#").submenu__item Основная деятельность
          li
            a(href="#").submenu__item История холдинга
          li
            a(href="#").submenu__item Подразделения
          li
            a(href="#").submenu__item Органы управления и контроля
          li.parent
            a(href="#").submenu__item Персонал
            ul.submenu
              li
                a(href="#").submenu__item Вакансии
              li
                a(href="#").submenu__item Конкурсы
      li
        a(href="#").menu__item Продукция
      li
        a(href="#").menu__item Раскрытие информации
      li
        a(href="#").menu__item Закупки
      li
        a(href="#").menu__item Реализация активов
      li
        a(href="#").menu__item Пресс центр
        ul.submenu
          li
            a(href="#").submenu__item Основная деятельность
          li
            a(href="#").submenu__item История холдинга
          li
            a(href="#").submenu__item Подразделения
          li
            a(href="#").submenu__item Органы управления и контроля
          li.parent
            a(href="#").submenu__item Персонал
            ul.submenu
              li
                a(href="#").submenu__item Вакансии
              li
                a(href="#").submenu__item Конкурсы
      li
        a(href="#").menu__item Вакансии
      li
        a(href="#").menu__item Контакты
      li
        button(type="button", data-target="#search").menu__item.search.js-search
        form(action="#")#search.search-form
          input(type="text").search-form__input
          button.search-form__button Найти
