#mobile-menu
  .wrapper
    .mobile-block
      a(href="#").menu__item О компании
      a(href="#").menu__item Продукция
      a(href="#").menu__item Раскрытие информации
      a(href="#").menu__item Закупки
      a(href="#").menu__item Реализация активов
      a(href="#").menu__item Пресс центр
      a(href="#").menu__item Вакансии
      a(href="#").menu__item Контакты

    form(action="#").form
      .form-control.search
        input(type="text", name="search").form__input
        button(type="submit").icon

  .mobile-wrap
