extends layout

block content

  -
    var dates = [
      '28.08.2017',
      '27.08.2017',
      '26.08.2017',
      '24.08.2017',
      '22.08.2017',
      '18.08.2017'
    ]

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Реализация активов')

      h1.h1 Реализация активов
      .detail
        .detail-block
          .tabs
            input(type="radio", id="tab-1", name="tab", data-one).tabs__input
            label(for="tab-1").tabs__label Реализация недвижимого имущества
            input(type="radio", id="tab-2", name="tab", data-two, checked).tabs__input
            label(for="tab-2").tabs__label Реализация движимого имущества и материалов
            section(data-one).tabs__section
              table.table.col-3
                tbody
                  tr
                    th Дата торгов
                    th Информационное извещение
                    th Документ для скачивания
                  each date in dates
                    tr
                      td= date
                      td.
                        АО «Югорски Лесопромышленный Холдинг» сообщает о намерении реализовать принадлежащий
                        ему объект недвижимого имущества «Здание аптеки» в п. Приозерный
                      td
                        a(href="file.pdf").file Описание извещения
            section(data-two).tabs__section
              .activities
                .activities-left
                  table.table.col-2
                    tbody
                      tr
                        th Дата размещения
                        th Детальная информация
                      each date in dates
                        tr
                          td= date
                          td
                            a(href="file.pdf").file Описание Реализация движимого имущества и материалов
                .activities-right.contacts
                  h4.h4 По вопросам обращаться:
                  .desc Отдел собственности
                  h4.h4 Самочерных Алексей Сергеевич
                  .contacts-block.flex
                    .contacts-left Телефон:
                    .contacts-right 8 (34675) 380-67
                  .contacts-block.flex
                    .contacts-left E-mail:
                    .contacts-right
                      a(href="#") yrist.lzu@ugratimber.ru
        br
        +pagination
