extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Контакты')

      h1.h1 Контакты
      .detail

        .subunit.line
          .subunit__name Дирекция
          p.
            АО «Югорский лесопромышленный холдинг»<br>
            628011, Россия, Тюменская область, Ханты-Мансийский автономный округ — Югра,
          h4.h4 Приемная
          p г. Ханты-Мансийск, ул. Рознина, д. 71
          .flex
            .flex
              .subunit-phone__name Телефон:
              .subunit-phone__items
                .phone +7 3467 <b>35-62-73</b>
                .phone +7 3467 <b>36-30-33</b>
            .email E-mail: <a href="#">office@ugratimber.ru</a>

        .subunit
          .subunit__name Подразделение «ЮграТрансСервис»
          h4.h4 Приемная
          p г. Советский, Южная промзона, нижний склад №2
          .flex
            .flex
              .subunit-phone__name Телефон:
              .subunit-phone__items
                .phone +7 3467 <b>53-70-02</b>
            .email E-mail: <a href="#">uts@ugratimber.ru</a>

        .subunit
          .subunit__name Подразделение «Лесопильные заводы Югры»
          h4.h4 Приемная
          p г. Советский, ул. Ленина, д. 47
          .flex
            .flex
              .subunit-phone__name Телефон:
              .subunit-phone__items
                .phone +7 3467 <b>53-80-64</b>
            .email E-mail: <a href="#">lzu@ugratimber.ru</a>

        .subunit
          .subunit__name Подразделение «ЛВЛ-Югра»
          h4.h4 Приемная
          p г. Нягань, ул. Лазарева, д. 28
          .flex
            .flex
              .subunit-phone__name Телефон:
              .subunit-phone__items
                .phone +7 3467 <b>29-75-79</b>
            .email E-mail: <a href="#">office-lvl@ugratimber.ru</a>
          .flex
            .subunit-phone__name Факс:
            .subunit-phone__items
              .phone +7 3467 <b>29-74-58</b>
          br
          h4.h4 Отдел Реализации
          p г. Нягань, ул. Лазарева, д. 28
          .flex
            .subunit-phone__name Телефон:
            .subunit-phone__items
              .phone +7 3467 <b>29-74-63</b>

        .subunit
          .subunit__name Подразделение «Югра-Плит»
          h4.h4 Приемная
          p г. Советский, Северная промзона, промбаза № 2,стр.1
          .flex
            .flex
              .subunit-phone__name Телефон:
              .subunit-phone__items
                .phone +7 3467 <b>53-79-90</b>
            .email E-mail: <a href="#">office-upl@ugratimber.ru</a>
          .flex
            .subunit-phone__name Телефон:
            .subunit-phone__items
              .phone <b>3-45-11</b> вн. (101)
          br
          h4.h4 Отдел Реализации
          p г. Советский, Северная промзона, промбаза № 2,стр.1
          .flex
            .subunit-phone__name Телефон:
            .subunit-phone__items
              .phone +7 3467 <b>53-79-90</b>
          .flex
            .subunit-phone__name Телефон:
            .subunit-phone__items
              .phone <b>3-45-11</b> вн. (149)

        .detail-block
          +form('Задать вопрос')

    section.map
      button(type="button", data-target="#first-popup", style="left: 536px; top: 305px").map__button.js-touch
      button(type="button", data-target="#second-popup", style="left: 577px; top: 257px").map__button.js-touch
      button(type="button", data-target="#third-popup", style="left: 710px; top: 216px").map__button.js-touch
      button(type="button", data-target="#fourth-popup", style="left: 831px; top: 338px").map__button.js-touch
      #first-popup.display-none
        .map-popup
          h4.h4 Малиновский лесопильный завод 1
          .greeting__position Советский р-он, п. Малиновский 1
      #second-popup.display-none
        .map-popup
          h4.h4 Малиновский лесопильный завод 2
          .greeting__position Советский р-он, п. Малиновский 2
      #third-popup.display-none
        .map-popup
          h4.h4 Малиновский лесопильный завод 3
          .greeting__position Советский р-он, п. Малиновский 3
      #fourth-popup.display-none
        .map-popup
          h4.h4 Малиновский лесопильный завод 4
          .greeting__position Советский р-он, п. Малиновский 4
