extends layout

block content

  -
    var photos = [
      {
        name: 'Международный инвестиционный форум «Сочи» 2014',
        img: 'photo-1.png'
      },
      {
        name: 'Югорский промышленный форум 2015',
        img: 'photo-2.png'
      },
      {
        name: 'Международный инвестиционный форум «Сочи» 2015',
        img: 'photo-3.png'
      },
      {
        name: 'Югорский промышленный форум 2016',
        img: 'photo-4.png'
      },
      {
        name: '«Дни Югры в Совете Федерации РФ»',
        img: 'photo-5.png'
      },
      {
        name: 'Международная промышленная выставка «Иннопром» 2016',
        img: 'photo-6.png'
      },
      {
        name: 'Российский конгресс «Удвоение производительности: от слов к делу»',
        img: 'photo-7.png'
      },
      {
        name: 'Стратегический форум «Транспортные системы России»',
        img: 'photo-8.png'
      },
      {
        name: 'Международная промышленная выставка «Иннопром» 2017',
        img: 'photo-9.png'
      }
    ]

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Пресс-центр', 'Галерея')

      h1.h1 Галерея
      .detail

        .photo
          each photo in photos
            a(href="#").photo-item
              img(src='images/' + photo.img).photo-item__img
              h4.h4= photo.name
              .news-item__date 29 июня 2017

        +pagination
