extends layout

block content

  -
    var photos = [
      'photo-1.png',
      'photo-2.png',
      'photo-3.png',
      'photo-4.png',
      'photo-5.png',
      'photo-6.png',
      'photo-7.png',
      'photo-8.png',
      'photo-9.png',
      'photo-1.png',
      'photo-2.png',
      'photo-3.png',
      'photo-4.png',
      'photo-5.png',
      'photo-6.png'
    ]

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Пресс-центр', 'Галерея', 'Международный инвестиционный форум «Сочи» 2014')

      h1.h1 Международный инвестиционный форум «Сочи» 2014
      .detail

        .photo.inner
          each photo in photos
            a(href='images/' + photo, data-fancybox="gallery").photo-item
              img(src='images/' + photo).photo-item__img

        +pagination
