extends layout

block content

  -
    var pages = [
      {
        label: 'Главная',
        name: 'main'
      },
      {
        label: 'Стайлгайд',
        name: 'style-guide'
      },
      {
        label: 'История холдинга',
        name: 'timeline'
      },
      {
        label: 'Подразделения',
        name: 'units'
      },
      {
        label: '«ЮграТрансСервис»',
        name: 'units-detail'
      },
      {
        label: 'Органы управления и контроля',
        name: 'regulatory'
      },
      {
        label: 'Продукция',
        name: 'products'
      },
      {
        label: 'Древесно-стружечные плиты',
        name: 'dsp'
      },
      {
        label: 'Хвойный пиломатериал',
        name: 'product'
      },
      {
        label: 'Реализация активов',
        name: 'activities'
      },
      {
        label: 'Новости',
        name: 'news'
      },
      {
        label: 'Новости (детальная страница)',
        name: 'news-detail'
      },
      {
        label: 'Галерея',
        name: 'gallery'
      },
      {
        label: 'Галерея (детальная страница)',
        name: 'gallery-detail'
      },
      {
        label: 'Контакты',
        name: 'contacts'
      },
      {
        label: 'Вакансии',
        name: 'vacancy'
      }
    ]

  main.index-menu
    h3 Список страниц в проекте
    ol
      each page in pages
        li
          a(href= page.name + '.html')= page.label
