extends layout

block content

  -
    var mainSlider = [
      {
        name: 'Лесозаготовка и вывозка',
        img: 'slider-1'
      },
      {
        name: 'Лесопильное производство',
        img: 'slider-2'
      },
      {
        name: 'Производство ламинированной дсп',
        img: 'slider-3'
      },
      {
        name: 'Производство бруса лвл',
        img: 'slider-4'
      }
    ]

  main.main
    .main-sliders
      .swiper-container.main-slider
        .swiper-wrapper
          each item in mainSlider
            .swiper-slide
              .main-slider__img(style="background-image: url('images/" + item.img + ".jpg')")
              .main-slider__wrap
                .main-slider__title= item.name
                a(href="#").main-slider__link.button Перейти к продукции
      .swiper-container.main-slider-thumbs.slider-desktop
        .swiper-wrapper
          each item in mainSlider
            .swiper-slide
              .main-slider__img(style="background-image: url('images/" + item.img + ".jpg')")
              .main-slider__wrap
              .main-slider__desc= item.name
      .swiper-container.main-slider-thumbs.slider-mobile
        .swiper-wrapper
          each item in mainSlider
            .swiper-slide
              .main-slider__img(style="background-image: url('images/" + item.img + ".jpg')")
              .main-slider__wrap
              .main-slider__desc= item.name

    .wrapper

      .presentation
        .presentation__name Югорский<br>лесопромышленный<br>холдинг
        .presentation__desc
          span Передовые
          | технологии<br>Югры
        .presentation__desc
          span Ведущее предприятие
          | лесопромышленного<br>комплекса в Югре
        .presentation__desc Более
          span
            b 1000
          | рабочих мест

      .greeting
        .greeting-left
          img(src="images/director.jpg").greeting__img
          .greeting__director Краев Юрий Геннадьевич
          .greeting__position Генеральный Директор<br>АО «Югорский лесопромышленный холдинг»
          button(type="button").button Задать вопрос
        .greeting-right
          h1.h1 Уважаемые посетители!
          .mobile-reduce.js-reduce
            .mobile-reduce-first
              p
                b Мы  рады приветствовать вас на официальном сайте акционерного общества «Югорский лесопромышленный
                  | холдинг» и благодарим за интерес, который вы проявляете к нашей работе.
              p АО «Югорский лесопромышленный холдинг» – ведущее лесозаготовительное и деревообрабатывающее
                | предприятие Югры, специализирующееся на выполнении полного производственного цикла:
                | от заготовки и вывозки до <a href="#">распиловки</a> и <a href="#">глубокой переработки древесины</a>.
              p Использование передовых технологий — это твердые перспективы развития Общества,
                | снижение нагрузки на окружающую среду, улучшенные условия труда и рост профессионализма работников.
            .mobile-reduce-second
              p Учредителем Общества является Ханты-Мансийский автономный округ – Югра в лице Департамента по управлению
                | государственным имуществом Ханты-Мансийского автономного округа – Югры
              p АО «Югорский лесопромышленный холдинг» - социально ориентированное предприятие,
                | а ее коллектив – сплочённой командой. Общество занимается благотворительной деятельностью,
                | принимает участие в общественно значимых проектах округа.
              p На нашем сайте вы сможете получить совет или консультацию специалистов предприятия,поднять
                | интересующие вас темы, связанные с деятельностью АО «Югорский лесопромышленный холдинг»,
                | и задать актуальные вопросы.
            button(type="button").mobile-reduce__link

    .main-news
      .wrapper
        .main-news-block
          .main-news__item
            h1.h1 Новости
          a(href="#").main-news__item
            h3.h3 Фонд развития представил отчет о своей работе на правительственном часе
            p Генеральный директор Фонда развития выступил перед депутатами окружной Думы с
              | докладом о трехлетней работе организации.
            .main-news__item-date 29 июня 2017
          a(href="#").main-news__item
            h3.h3 Реализация программы «Школы Югры» планируется с применением механизмов ГЧП
            p Первый заместитель Бухтин провел совещание в режиме видеоконференцсвязи, где рассматривались
              | вопросы создания объектов общего образования с применением новых механизмов.
            .main-news__item-date 28 июня 2017
        a(href="#").button Все новости
