extends layout

block content

  .page
    header.header
      .header-top.wrapper
        .header-logo Югорский<br>лесопромышленный холдинг
        .header-contacts
          .header-contacts__item E-mail:&nbsp;
            a(href="#") office@ugratimber.ru
          .header-contacts__item Телефон:
            span  +7 3467
              b  35-62-73
          .header-contacts__item Факс:
            span  +7 3467
              b  36-30-33
        select#lang
          option(value="ru", selected) RU
          option(value="en") EN
      .menu
        .wrapper
          a(href="#").menu__item О компании
          a(href="#").menu__item Продукция
          a(href="#").menu__item Раскрытие информации
          a(href="#").menu__item Закупки
          a(href="#").menu__item Реализация активов
          a(href="#").menu__item Пресс центр
          a(href="#").menu__item Вакансии
          a(href="#").menu__item Контакты
          button(type="button", data-target="#search").menu__item.search.js-search
          form(action="#")#search.search-form
            input(type="text").search-form__input
            button.search-form__button Найти

    main.main
      .wrapper
        .breadcrumbs
          a(href="#").breadcrumbs__item Главная
          a(href="#").breadcrumbs__item Пресс-центр
          a(href="#").breadcrumbs__item Новости
          span.breadcrumbs__item Фонд развития представил отчет о своей работе на прваительственном часе

        h1.h1 Фонд развития представил отчет о своей работе на прваительственном часе
        .detail
          .detail-info
            img(src="images/detail.jpg").detail__img
            .news-item__date 29 июня 2017
            h4.h4 Фонд развития представил отчет о своей работе на правительственном часе
            p.
              <a href="#">Учредитель фестиваля</a> – <a href="#">Министерство культуры</a> Челябинской области
              при поддержке Министерства культуры РФ и Государственного Российского Дома народного творчества
              имени В. Д. Поленова. Организатором фестиваля является Областное государственное бюджетное
              учреждение культуры «Челябинский государственный центр народного творчества».
            p.
              У подножия гор расположатся сцены, творческие площадки, национальные жилища и палатки мастеров,
              пройдут конкурсы и мастер-классы с участием творческих коллективов и народных умельцев со всей России.
            p.
              Стало традиционным участие в Бажовском фестивале творческих коллективов из
              Ханты-Мансийского автономного округа – Югры. В 2017 году это обладатель
              Гран-при Межрегионального фестиваля фольклорных коллективов «Русь» –
              Фольклорный ансамбль «Гостинец» (руководитель – Колесникова Анна Евгеньевна,
              г. Сургут) и Лауреат I степени в номинации «Народный вокал. Ансамбли от 18 лет
              и старше»– фольклорный ансамбль казачьей песни «Отрада», руководитель –
              Алаторцев Василий Владимирович (г. Нижневартовск).
            p.
              Организаторами поездки самодеятельных коллективов Югры на XXV Всероссийский
              Бажовский фестиваль народного творчества выступил Департамент культуры
              Ханты-Мансийского автономного округа – Югры


          .detail-block
            a(href="file.pptx").file Учредители фестиваля
            a(href="file.pptx").file Положение проведения фестиваля
            a(href="file.pptx").file Отчет о проведении фестивая

    footer.footer
      .wrapper
        .footer-block
          .footer-left
            p.
              628011, Россия, Тюменская область, Ханты-Мансийский автономный округ — Югра,
              г. Ханты-Мансийск, ул. Рознина, д. 71
            p Телефон: +7 (3467) <b>35-62-73</b>, Факс: + 7 (3467) <b>36-30-33</b>
          .footer-right
            a(href="#").uw
        .footer-bottom © Copyright АО «Югорский Лесопромышленный Холдинг», 2005-2017
