extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Пресс-центр', 'Новости', 'Фонд развития представил отчет о своей работе на прваительственном часе')

      h1.h1 Фонд развития представил отчет о своей работе на прваительственном часе
      .detail
        .detail-info
          img(src="images/detail.jpg").detail__img
          .news-item__date 29 июня 2017
          h4.h4 Фонд развития представил отчет о своей работе на правительственном часе
          p.
            <a href="#">Учредитель фестиваля</a> – <a href="#">Министерство культуры</a> Челябинской области
            при поддержке Министерства культуры РФ и Государственного Российского Дома народного творчества
            имени В. Д. Поленова. Организатором фестиваля является Областное государственное бюджетное
            учреждение культуры «Челябинский государственный центр народного творчества».
          p.
            У подножия гор расположатся сцены, творческие площадки, национальные жилища и палатки мастеров,
            пройдут конкурсы и мастер-классы с участием творческих коллективов и народных умельцев со всей России.
          p.
            Стало традиционным участие в Бажовском фестивале творческих коллективов из
            Ханты-Мансийского автономного округа – Югры. В 2017 году это обладатель
            Гран-при Межрегионального фестиваля фольклорных коллективов «Русь» –
            Фольклорный ансамбль «Гостинец» (руководитель – Колесникова Анна Евгеньевна,
            г. Сургут) и Лауреат I степени в номинации «Народный вокал. Ансамбли от 18 лет
            и старше»– фольклорный ансамбль казачьей песни «Отрада», руководитель –
            Алаторцев Василий Владимирович (г. Нижневартовск).
          p.
            Организаторами поездки самодеятельных коллективов Югры на XXV Всероссийский
            Бажовский фестиваль народного творчества выступил Департамент культуры
            Ханты-Мансийского автономного округа – Югры


        .detail-block
          a(href="file.pptx").file Учредители фестиваля
          a(href="file.pptx").file Положение проведения фестиваля
          a(href="file.pptx").file Отчет о проведении фестивая

        .video-block
          a(href="#").video
            img(src="images/video.jpg")
          a(href="#").video
            img(src="images/video.jpg")
          a(href="#").video
            img(src="images/video.jpg")
          a(href="#").video
            img(src="images/video.jpg")


        .flex.space-b.align-center
          a(href="#").link Возврат к списку
          a(href="#").button Подписаться на рассылку
