extends layout

block content

  .page
    header.header
      .header-top.wrapper
        .header-logo Югорский<br>лесопромышленный холдинг
        .header-contacts
          .header-contacts__item E-mail:&nbsp;
            a(href="#") office@ugratimber.ru
          .header-contacts__item Телефон:
            span  +7 3467
              b  35-62-73
          .header-contacts__item Факс:
            span  +7 3467
              b  36-30-33
        select#lang
          option(value="ru", selected) RU
          option(value="en") EN
      .menu
        .wrapper
          a(href="#").menu__item.active О компании
          a(href="#").menu__item Продукция
          a(href="#").menu__item Раскрытие информации
          a(href="#").menu__item Закупки
          a(href="#").menu__item Реализация активов
          a(href="#").menu__item Пресс центр
          a(href="#").menu__item Вакансии
          a(href="#").menu__item Контакты
          button(type="button").menu__item.search

    main.main
      .wrapper
        .breadcrumbs
          a(href="#").breadcrumbs__item Главная
          a(href="#").breadcrumbs__item Продукция
          span.breadcrumbs__item Хвойный пиломатериал

        h1.h1 Хвойный пиломатериал
        .detail
          .detail-block.flex.space-b.no-line
            .detail-gal-block
              .swiper-container.detail-gal
                .swiper-wrapper
                  a(href="images/product-1.png", data-fancybox="detail-gallery").swiper-slide.detail-gal__item
                    .detail-gal__item-img(style="background-image: url('images/product-1.png')")
                  a(href="images/product-2.png", data-fancybox="detail-gallery").swiper-slide.detail-gal__item
                    .detail-gal__item-img(style="background-image: url('images/product-2.png')")
                  a(href="images/product-3.png", data-fancybox="detail-gallery").swiper-slide.detail-gal__item
                    .detail-gal__item-img(style="background-image: url('images/product-3.png')")
                  a(href="images/product-4.png", data-fancybox="detail-gallery").swiper-slide.detail-gal__item
                    .detail-gal__item-img(style="background-image: url('images/product-4.png')")
              .swiper-container.detail-gal-thumbs
                .swiper-wrapper
                  .swiper-slide.detail-gal-thumbs__item
                    .detail-gal__item-img(style="background-image: url('images/product-1.png')")
                  .swiper-slide.detail-gal-thumbs__item
                    .detail-gal__item-img(style="background-image: url('images/product-2.png')")
                  .swiper-slide.detail-gal-thumbs__item
                    .detail-gal__item-img(style="background-image: url('images/product-3.png')")
                  .swiper-slide.detail-gal-thumbs__item
                    .detail-gal__item-img(style="background-image: url('images/product-4.png')")
            .desc
              h3.h3 Описание
              p Пиломатериалы широко используются по всему миру в строительстве и отделочных работах.
              p.
                Хвойные пиломатериалы занимают лидирующее место на рынке современных пиломатериалов,
                т.к. хвойная древесина отличается высокой прочностью и устойчивостью к внешним повреждениям
                благодаря высокому содержанию в ней смолы, имеет красивый природный рисунок.
              p.
                АО «Югорский лесопромышленный холдинг» имеет собственные лесозаготовительные участки и
                может гарантировать качество сырьевой базы, которая используется для производства
                пиломатериалов. Сертификация производственной цепочки от заготовки древесины
                до производства деталей и пиломатериалов в соответствии с международным стандартом
                PEFC (Международная организация содействия устойчивому лесопользованию) FC-PEFC-FCR-006.
                Пиломатериалы производятся в строгом соответствии с техническими условиями ГОСТ 26002-83.
              p.
                Для того чтобы продлить срок службы пиломатериалов, а также защитить их от влажностных
                деформаций, снизить степень усадки и коробления, они подлежат сушке в специальных
                сушильных камерах. Сушка пиломатериалов производится в сушильных камерах Vanicek до влажности 18±2%.
              p География поставок Северная Африка, Ближний Восток, Китай.

          .detail-block
            .flex.space-b
              .characteristic-block.min
                h3.h3 Характеристика продукции
                .characteristic
                  .characteristic-left Порода древесины:
                  .characteristic-right сосна, ель
                .characteristic
                  .characteristic-left Влажность:
                  .characteristic-right 18 % (+/- 2 %)
                .characteristic
                  .characteristic-left Упаковка:
                  .characteristic-right полиэтилен с 5 сторон
                .characteristic
                  .characteristic-left Качество сорта:
                  .characteristic-right SF (ABC), 3, 4 сорта, С16-С30
              .characteristic-block
                h3.h3 Документация
                a(href="file.pdf").file Технические характеристики ГОСТ 26002-83
                a(href="file.pdf").file Спецификация продукции

          .detail-block.with-mar
            .flex.space-b
              .range
                .flex
                  .range__item.head Сорт
                  .range__item.head Влажность
                  .range__item.head Нормативные документы
                .flex.align-center
                  .range__item ABC
                  .range__item 18%
                  .range__item ГОСТ 26002-83
              table.table
                tbody
                  tr
                    th Толщина
                    th Наименьшая ширина
                    th Наибольшая ширина
                  tr
                    td 15
                    td 75
                    td 100
                  tr
                    td 19
                    td 100
                    td 100
                  tr
                    td 25
                    td 75
                    td 150
                  tr
                    td 32
                    td 100
                    td 150
                  tr
                    td 38
                    td 100
                    td 150
                  tr
                    td 44
                    td 100
                    td 150
                  tr
                    td 47
                    td 100
                    td 207
                  tr
                    td 50
                    td 100
                    td 200
                  tr
                    td 63
                    td 150
                    td 150

          .detail-block
            h3.h3 Логистика
            .flex.space-b.align-center.logic
              table.table
                tbody
                  tr
                    th Вид транспорта
                    th Минимальная партия, м3
                  tr
                    td Паллет
                    td 75
                  tr
                    td Вагон
                    td 100
                  tr
                    td Паллет
                    td 75
                  tr
                    td Вагон
                    td 100
              .train

          .detail-block
            h2.h2 Остались вопросы?
            form(action="#").form
              .form-flex
                .form-control
                  input(type="text", id="input-1", value="Активное поле").form__input.text
                  label(for="input-1").form__label ФИО
                .form-control.err
                  input(type="text", id="input-2", value="joran99").form__input.text
                  label(for="input-2").form__label E-mail
                  span Неверно указан e-mail
                .form-control
                  input(type="text", id="input-3").form__input
                  label(for="input-3").form__label Телефон
              .form-control.full
                input(id="input-4").form__input
                label(for="input-4").form__label Сообщение
              .form-flex
                .form-control
                  input(type="checkbox", id="check-1").form__input
                  label(for="check-1").form__label Даю согласие на обработку персональных данных
                .form-captcha
                  // подразумевается вставка блока кода гугла вместо img
                  img(src="images/captcha.jpg")
                .button Отправить

    footer.footer
      .wrapper
        .footer-block
          .footer-left
            p.
              628011, Россия, Тюменская область, Ханты-Мансийский автономный округ — Югра,
              г. Ханты-Мансийск, ул. Рознина, д. 71
            p Телефон: +7 (3467) <b>35-62-73</b>, Факс: + 7 (3467) <b>36-30-33</b>
          .footer-right
            a(href="#").uw
        .footer-bottom © Copyright АО «Югорский Лесопромышленный Холдинг», 2005-2017
