extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Продукция')

      h1.h1 Продукция
      .detail
        .units.products
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/product-1.png')")
              .units__item-name Брус клееный из шпона ЛВЛ
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/product-2.png')")
              .units__item-name Древесно-стружечные плиты (ДСП, ЛДСП)
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/product-3.png')")
              .units__item-name Хвойный пиломатериал
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/product-4.png')")
              .units__item-name Фанера хвойная
