extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'Клиентам', 'Подразделения')

      h1.h1 Органы управления и контроля
      .detail
        h3.h3 Структура органов управления АО «Югорский лесопромышленный холдинг» (активные окна)
        p В соответствии с Уставом АО «Югорский лесопромышленный холдинг»

        .reg
          a(href="#").reg-item.first.js-popup
            .reg-item__name Общее собрание акционеров
            .reg-item__desc Высший орган управления
            .popup-block
              .popup.flex.wrapper
                .popup-left
                  img(src="images/ugra-logo.png")
                .popup-right.detail
                  h3.h3 Общее собрание акционеров
                    span (единственный акционер)
                  p.
                    Полномочия высшего органа управления в АО «Югорский лесопромышленный холдинг» осуществляет
                    единственный акционер – Ханты-Мансийский автономный округ - Югра в лице Департамента
                    по управлению государственным имуществом Ханты-Мансийского автономного округа – Югры.
                  p.
                    В соответствии с компетенцией, определенной Федеральным законом от 26
                    декабря 1995 г. № 208-ФЗ «Об акционерных обществах», единственный акционер
                    АО «Югорский лесопромышленный холдинг» рассматривает и принимает решения по
                    наиболее важным вопросам деятельности компании.
                  button(type="button").popup__button Закрыть
          a(href="#").reg-item.second.js-popup
            .reg-item__name Совет директоров
            .reg-item__desc Общее руководство деятельностью
            .popup-block
              .popup.wrapper
                .detail
                  h3.h3 Совет директоров
                  p.
                    Совет директоров Общества осуществляет общее руководство деятельностью Общества,
                    за исключением решения вопросов, отнесенных Федеральным законом от 26 декабря
                    1995 года № 208-ФЗ «Об акционерных обществах»
                  h4.h4 Председатель Совета директоров
                  p.
                    <b>Туленков Василий Петрович</b> — Заместитель директора - начальник управления
                    лесного хозяйства и лесопромышленного комплекса Департамента природных ресурсов
                    и несырьевого сектора экономики Ханты-Мансийского автономного округа – Югры.
                  h4.h4 Члены Совета директоров
                  p.
                    <b>Короткова Елена Михайловна</b> — Советник заместителя Губернатора
                    Ханты-Мансийского автономного округа – Югры
                  p.
                    <b>Дудниченко Василий Сергеевич</b> — Первый заместитель директора Департамента
                    экономического развития Ханты-Мансийского автономного округа – Югры
                  p.
                    <b>Мирошник Татьяна Викторовна</b> — Заместитель директора Департамента по управлению
                    государственным имуществом Ханты-Мансийского автономного округа – Югры
                  p.
                    <b>Уткин Анатолий Валерьевич</b> — Директор Департамента по управлению государственным
                    имуществом Ханты-Мансийского автономного округа – Югры
                  p.
                    <b>Тесля Андрей Олегович</b> — Начальник отдела развития лесопромышленного комплекса,
                    управления лесного хозяйства и лесопромышленного комплекса Департамента природных
                    ресурсов и несырьевого сектора экономики Ханты-Мансийского автономного округа – Югры
                  p.
                    <b>Захарова Анна Олеговна</b> — Советник директора Департамента финансов - заместителя
                    Губернатора Ханты-Мансийского автономного округа – Югры
                  button(type="button").popup__button Закрыть
          a(href="#").reg-item.third.js-popup
            .reg-item__name Ревизионная комиссия
            .reg-item__desc Контроль за финансово-хозяйственной деятельностью
            .popup-block
              .popup.wrapper
                .detail
                  h3.h3 Состав Ревизионной комиссии
                  p.
                    <b>Кузнецова Ирина Николаевна</b> — консультант отдела экономического анализа и
                    контрольно-ревизионной работы Департамента по управлению государственным имуществом
                    Ханты-мансийского автономного округа – Югры.
                  p.
                    <b>Телькинен Людмила Ивановна</b> — консультант отдела развития лесопромышленного
                    комплекса, управления лесного хозяйства и лесопромышленного комплекса Департамента
                    природных ресурсов и несырьевого сектора экономики Ханты-мансийского автономного
                    округа – Югры.
                  p.
                    <b>Тиунова Екатерина Николаевна</b> — консультант отдела экономического анализа
                    и контрольно-ревизионной работы Департамента по управлению государственным
                    имуществом Ханты-мансийского автономного округа – Югры
                  button(type="button").popup__button Закрыть
          a(href="#").reg-item.fouth.js-popup
            .reg-item__name Единоличный исполнительный орган
            .reg-item__desc Руководство текущей деятельностью
            .popup-block
              .popup.wrapper
                .detail
                  h3.h3 Единоличный исполнительный орган
                  p <b>Краев Юрий Геннадьевич</b> — Генеральный директор
                  h4.h4 Государственные награды и почетные звания:
                  ul
                    li Почетная грамота главы Советского района;
                    li Благодарственное письмо Губернатора Ханты-Мансийского автономного округа - Югры;
                    li.
                      Благодарственное письмо от полномочного представителя Президента в Уральском
                      федеральном округе;
                    li Благодарственная грамота Думы Ханты-Мансийского автономного округа – Югры;
                    li Почетный знак – за заслуги перед Ханты-Мансийским автономным округом.
                  button(type="button").popup__button Закрыть
