extends layout

block content

  .page
    header.header
      .header-top.wrapper
        .header-logo Югорский<br>лесопромышленный холдинг
        .header-contacts
          .header-contacts__item E-mail:&nbsp;
            a(href="#") office@ugratimber.ru
          .header-contacts__item Телефон:
            span  +7 3467
              b  35-62-73
          .header-contacts__item Факс:
            span  +7 3467
              b  36-30-33
        select#lang
          option(value="ru", selected) RU
          option(value="en") EN
      .menu
        .wrapper
          a(href="#").menu__item.active О компании
          a(href="#").menu__item Продукция
          a(href="#").menu__item Раскрытие информации
          a(href="#").menu__item Закупки
          a(href="#").menu__item Реализация активов
          a(href="#").menu__item Пресс центр
          a(href="#").menu__item Вакансии
          a(href="#").menu__item Контакты
          button(type="button", data-target="#search").menu__item.search.js-search
          form(action="#")#search.search-form
            input(type="text").search-form__input
            button.search-form__button Найти

    main.main
      .wrapper
        .breadcrumbs
          a(href="#").breadcrumbs__item Главная
          a(href="#").breadcrumbs__item Клиентам
          span.breadcrumbs__item Подразделения

        h1.h1 Органы управления и контроля
        .detail
          h3.h3 Структура органов управления АО «Югорский лесопромышленный холдинг» (активные окна)
          p В соответствии с Уставом АО «Югорский лесопромышленный холдинг»

          .reg
            a(href="#").reg-item.first.js-popup
              .reg-item__name Общее собрание акционеров
              .reg-item__desc Высший орган управления
              .popup-block
                .popup.flex.wrapper
                  .popup-left
                    img(src="images/ugra-logo.png")
                  .popup-right.detail
                    h3.h3 Общее собрание акционеров
                      span (единственный акционер)
                    p.
                      Полномочия высшего органа управления в АО «Югорский лесопромышленный холдинг» осуществляет
                      единственный акционер – Ханты-Мансийский автономный округ - Югра в лице Департамента
                      по управлению государственным имуществом Ханты-Мансийского автономного округа – Югры.
                    p.
                      В соответствии с компетенцией, определенной Федеральным законом от 26
                      декабря 1995 г. № 208-ФЗ «Об акционерных обществах», единственный акционер
                      АО «Югорский лесопромышленный холдинг» рассматривает и принимает решения по
                      наиболее важным вопросам деятельности компании.
                    button(type="button").popup__button Закрыть
            a(href="#").reg-item.second.js-popup
              .reg-item__name Совет директоров
              .reg-item__desc Общее руководство деятельностью
              .popup-block
                .popup.wrapper
                  .detail
                    h3.h3 Совет директоров
                    p.
                      Совет директоров Общества осуществляет общее руководство деятельностью Общества,
                      за исключением решения вопросов, отнесенных Федеральным законом от 26 декабря
                      1995 года № 208-ФЗ «Об акционерных обществах»
                    h4.h4 Председатель Совета директоров
                    p.
                      <b>Туленков Василий Петрович</b> — Заместитель директора - начальник управления
                      лесного хозяйства и лесопромышленного комплекса Департамента природных ресурсов
                      и несырьевого сектора экономики Ханты-Мансийского автономного округа – Югры.
                    h4.h4 Члены Совета директоров
                    p.
                      <b>Короткова Елена Михайловна</b> — Советник заместителя Губернатора
                      Ханты-Мансийского автономного округа – Югры
                    p.
                      <b>Дудниченко Василий Сергеевич</b> — Первый заместитель директора Департамента
                      экономического развития Ханты-Мансийского автономного округа – Югры
                    p.
                      <b>Мирошник Татьяна Викторовна</b> — Заместитель директора Департамента по управлению
                      государственным имуществом Ханты-Мансийского автономного округа – Югры
                    p.
                      <b>Уткин Анатолий Валерьевич</b> — Директор Департамента по управлению государственным
                      имуществом Ханты-Мансийского автономного округа – Югры
                    p.
                      <b>Тесля Андрей Олегович</b> — Начальник отдела развития лесопромышленного комплекса,
                      управления лесного хозяйства и лесопромышленного комплекса Департамента природных
                      ресурсов и несырьевого сектора экономики Ханты-Мансийского автономного округа – Югры
                    p.
                      <b>Захарова Анна Олеговна</b> — Советник директора Департамента финансов - заместителя
                      Губернатора Ханты-Мансийского автономного округа – Югры
                    button(type="button").popup__button Закрыть
            a(href="#").reg-item.third.js-popup
              .reg-item__name Ревизионная комиссия
              .reg-item__desc Контроль за финансово-хозяйственной деятельностью
              .popup-block
                .popup.wrapper
                  .detail
                    h3.h3 Состав Ревизионной комиссии
                    p.
                      <b>Кузнецова Ирина Николаевна</b> — консультант отдела экономического анализа и
                      контрольно-ревизионной работы Департамента по управлению государственным имуществом
                      Ханты-мансийского автономного округа – Югры.
                    p.
                      <b>Телькинен Людмила Ивановна</b> — консультант отдела развития лесопромышленного
                      комплекса, управления лесного хозяйства и лесопромышленного комплекса Департамента
                      природных ресурсов и несырьевого сектора экономики Ханты-мансийского автономного
                      округа – Югры.
                    p.
                      <b>Тиунова Екатерина Николаевна</b> — консультант отдела экономического анализа
                      и контрольно-ревизионной работы Департамента по управлению государственным
                      имуществом Ханты-мансийского автономного округа – Югры
                    button(type="button").popup__button Закрыть
            a(href="#").reg-item.fouth.js-popup
              .reg-item__name Единоличный исполнительный орган
              .reg-item__desc Руководство текущей деятельностью
              .popup-block
                .popup.wrapper
                  .detail
                    h3.h3 Единоличный исполнительный орган
                    p <b>Краев Юрий Геннадьевич</b> — Генеральный директор
                    h4.h4 Государственные награды и почетные звания:
                    ul
                      li Почетная грамота главы Советского района;
                      li Благодарственное письмо Губернатора Ханты-Мансийского автономного округа - Югры;
                      li.
                        Благодарственное письмо от полномочного представителя Президента в Уральском
                        федеральном округе;
                      li Благодарственная грамота Думы Ханты-Мансийского автономного округа – Югры;
                      li Почетный знак – за заслуги перед Ханты-Мансийским автономным округом.
                    button(type="button").popup__button Закрыть

    footer.footer
      .wrapper
        .footer-block
          .footer-left
            p.
              628011, Россия, Тюменская область, Ханты-Мансийский автономный округ — Югра,
              г. Ханты-Мансийск, ул. Рознина, д. 71
            p Телефон: +7 (3467) <b>35-62-73</b>, Факс: + 7 (3467) <b>36-30-33</b>
          .footer-right
            a(href="#").uw
        .footer-bottom © Copyright АО «Югорский Лесопромышленный Холдинг», 2005-2017
