extends layout

block content

  main.main
    .rhombus-left
    .wrapper
      +breadcrumbs('Главная', 'Пресс-центр', 'Новости', 'Фонд развития представил отчет о своей работе на правительственном часе')

      h1.h1 Фонд развития представил отчет о своей работе на правительственном часе h1
      .detail
        .detail-info
          img(src="images/detail.jpg").detail__img
          h2.h2 Фонд развития представил отчет о своей работе на правительственном часе h2
          h3.h3 Фонд развития представил отчет о своей работе на правительственном часе h3
          p.
            <a href="#">Учредитель фестиваля</a> – <a href="#">Министерство культуры</a> Челябинской области
            при поддержке Министерства культуры РФ и Государственного Российского Дома народного творчества
            имени В. Д. Поленова. Организатором фестиваля является Областное государственное бюджетное
            учреждение культуры «Челябинский государственный центр народного творчества».
          p.
            У подножия гор расположатся сцены, творческие площадки, национальные жилища и палатки мастеров,
            пройдут конкурсы и мастер-классы с участием творческих коллективов и народных умельцев со всей России.

        .detail-block
          a(href="file.pdf").file План лесоуправления
          a(href="file.docx").file.
            Политика ОАО «Югорский лесопромышленный холдинг» в области сертификации цепочки
            поставок по системе PEFC
          a(href="file.rar").file Результаты мониторинга хозяйственной деятельности предприятия
          a(href="file.pptx").file План лесоуправления
          a(href="file.xls").file.
            Политика ОАО «Югорский лесопромышленный холдинг» в области сертификации цепочки
            поставок по системе PEFC

        .detail-block
          ol
            li У подножия гор расположатся сцены, творческие площадки, национальные жилища;
            li Палатки мастеров, пройдут конкурсы и мастер-классы с участием творческих коллективов;
            li Народных умельцев со всей России.
          ul
            li У подножия гор расположатся сцены, творческие площадки, национальные жилища;
            li Палатки мастеров, пройдут конкурсы и мастер-классы с участием творческих коллективов;
            li Народных умельцев со всей России.

        br

        .accordion-block
          .accordion
            button(type="button").accordion__button.js-accordion 2017 год
            .accordion-hidden
              a(href="file.pdf").file Раскрытие информации на 31.12.17
              a(href="file.pdf").file Раскрытие информации на 30.09.17
              a(href="file.pdf").file Бухгалтерский отчет за 9 месяцев 2017г.
          .accordion
            button(type="button").accordion__button.js-accordion 2016 год
            .accordion-hidden
              a(href="file.pdf").file Раскрытие информации на 31.12.17
              a(href="file.pdf").file Раскрытие информации на 30.09.17
              a(href="file.pdf").file Бухгалтерский отчет за 9 месяцев 2017г.
              a(href="file.pdf").file Раскрытие информации на 30.09.17
          .accordion
            button(type="button").accordion__button.js-accordion 2015 год
            .accordion-hidden
              a(href="file.pdf").file Раскрытие информации на 31.12.17
              a(href="file.pdf").file Раскрытие информации на 30.09.17

        br

        .detail-block
          .tabs
            input(type="radio", id="tab-1", name="tab", data-one, checked).tabs__input
            label(for="tab-1").tabs__label Ассортимент продукции
            input(type="radio", id="tab-2", name="tab", data-two).tabs__input
            label(for="tab-2").tabs__label Нормативные документы
            section(data-one).tabs__section
              table.table
                tbody
                  tr
                    th Сорт (section-1)
                    th Влажность
                    th Нормативные документы
                    th Толщина
                    th Наименьшая ширина
                    th Наибольшая ширина
                  tr
                    td 15
                    td 15
                    td 15
                    td 15
                    td 75
                    td 100
                  tr
                    td 19
                    td 19
                    td 19
                    td 19
                    td 100
                    td 100
                  tr
                    td 25
                    td 25
                    td 25
                    td 75
                    td 100
                    td 100
                  tr
                    td 32
                    td 32
                    td 32
                    td 32
                    td 100
                    td 150
                  tr
                    td 38
                    td 38
                    td 38
                    td 38
                    td 100
                    td 150
                  tr
                    td 44
                    td 44
                    td 44
                    td 44
                    td 100
                    td 150
                  tr
                    td 47
                    td 47
                    td 47
                    td 47
                    td 100
                    td 207
                  tr
                    td 50
                    td 50
                    td 50
                    td 50
                    td 100
                    td 200
                  tr
                    td 63
                    td 63
                    td 63
                    td 63
                    td 150
                    td 150

            section(data-two).tabs__section
              table.table
                tbody
                  tr
                    th Сорт (section-2)
                    th Влажность
                    th Нормативные документы
                    th Толщина
                    th Наименьшая ширина
                    th Наибольшая ширина
                  tr
                    td 15
                    td 15
                    td 15
                    td 15
                    td 75
                    td 100
                  tr
                    td 19
                    td 19
                    td 19
                    td 19
                    td 100
                    td 100
                  tr
                    td 25
                    td 25
                    td 25
                    td 75
                    td 100
                    td 100
                  tr
                    td 32
                    td 32
                    td 32
                    td 32
                    td 100
                    td 150
                  tr
                    td 38
                    td 38
                    td 38
                    td 38
                    td 100
                    td 150
                  tr
                    td 44
                    td 44
                    td 44
                    td 44
                    td 100
                    td 150
                  tr
                    td 47
                    td 47
                    td 47
                    td 47
                    td 100
                    td 207
                  tr
                    td 50
                    td 50
                    td 50
                    td 50
                    td 100
                    td 200
                  tr
                    td 63
                    td 63
                    td 63
                    td 63
                    td 150
                    td 150



        br
        br

        .js-tabs
          ul
            li
              a(href="#t-1") Ассортимент продукции
            li
              a(href="#t-2") Нормативные документы
            li
              a(href="#t-3") Ассортимент продукции
            li
              a(href="#t-4") Нормативные документы
          #t-1
            table.table
              tbody
                tr
                  th Сорт (section-1)
                  th Влажность
                  th Нормативные документы
                  th Толщина
                  th Наименьшая ширина
                  th Наибольшая ширина
                tr
                  td 15
                  td 15
                  td 15
                  td 15
                  td 75
                  td 100
                tr
                  td 19
                  td 19
                  td 19
                  td 19
                  td 100
                  td 100
                tr
                  td 25
                  td 25
                  td 25
                  td 75
                  td 100
                  td 100
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 100
                  td 150
                tr
                  td 38
                  td 38
                  td 38
                  td 38
                  td 100
                  td 150
                tr
                  td 44
                  td 44
                  td 44
                  td 44
                  td 100
                  td 150
                tr
                  td 47
                  td 47
                  td 47
                  td 47
                  td 100
                  td 207
                tr
                  td 50
                  td 50
                  td 50
                  td 50
                  td 100
                  td 200
                tr
                  td 63
                  td 63
                  td 63
                  td 63
                  td 150
                  td 150

          #t-2
            table.table
              tbody
                tr
                  th Сорт (section-2)
                  th Влажность
                  th Нормативные документы
                  th Толщина
                  th Наименьшая ширина
                  th Наибольшая ширина
                tr
                  td 15
                  td 15
                  td 15
                  td 15
                  td 75
                  td 100
                tr
                  td 19
                  td 19
                  td 19
                  td 19
                  td 100
                  td 100
                tr
                  td 25
                  td 25
                  td 25
                  td 75
                  td 100
                  td 100
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 100
                  td 150
                tr
                  td 38
                  td 38
                  td 38
                  td 38
                  td 100
                  td 150
                tr
                  td 44
                  td 44
                  td 44
                  td 44
                  td 100
                  td 150
                tr
                  td 47
                  td 47
                  td 47
                  td 47
                  td 100
                  td 207
                tr
                  td 50
                  td 50
                  td 50
                  td 50
                  td 100
                  td 200
                tr
                  td 63
                  td 63
                  td 63
                  td 63
                  td 150
                  td 150



          #t-3
            table.table
              tbody
                tr
                  th Сорт (section-3)
                  th Влажность
                  th Нормативные документы
                  th Толщина
                  th Наименьшая ширина
                  th Наибольшая ширина
                tr
                  td 15
                  td 15
                  td 15
                  td 15
                  td 75
                  td 100
                tr
                  td 19
                  td 19
                  td 19
                  td 19
                  td 100
                  td 100
                tr
                  td 25
                  td 25
                  td 25
                  td 75
                  td 100
                  td 100
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 100
                  td 150
                tr
                  td 38
                  td 38
                  td 38
                  td 38
                  td 100
                  td 150
                tr
                  td 44
                  td 44
                  td 44
                  td 44
                  td 100
                  td 150
                tr
                  td 47
                  td 47
                  td 47
                  td 47
                  td 100
                  td 207




          #t-4
            table.table
              tbody
                tr
                  th Сорт (section-4)
                  th Влажность
                  th Нормативные документы
                  th Толщина
                  th Наименьшая ширина
                  th Наибольшая ширина
                tr
                  td 15
                  td 15
                  td 15
                  td 15
                  td 75
                  td 100
                tr
                  td 19
                  td 19
                  td 19
                  td 19
                  td 100
                  td 100
                tr
                  td 25
                  td 25
                  td 25
                  td 75
                  td 100
                  td 100
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 100
                  td 150
                tr
                  td 38
                  td 38
                  td 38
                  td 38
                  td 100
                  td 150
                tr
                  td 44
                  td 44
                  td 44
                  td 44
                  td 100
                  td 150
                tr
                  td 47
                  td 47
                  td 47
                  td 47
                  td 100
                  td 207

        br
        br

        .detail-block
          button(type="button").button Отправить
          br
          br
          br

        .detail-block
          +form('Остались вопросы?')
    .rhombus-right
