extends layout

block content

  .page
    header.header
      .header-top.wrapper
        .header-logo Югорский<br>лесопромышленный холдинг
        .header-contacts
          .header-contacts__item E-mail:&nbsp;
            a(href="#") office@ugratimber.ru
          .header-contacts__item Телефон:
            span  +7 3467
              b  35-62-73
          .header-contacts__item Факс:
            span  +7 3467
              b  36-30-33
        select#lang
          option(value="ru", selected) RU
          option(value="en") EN
      .menu
        .wrapper
          a(href="#").menu__item.active О компании
          a(href="#").menu__item Продукция
          a(href="#").menu__item Раскрытие информации
          a(href="#").menu__item Закупки
          a(href="#").menu__item Реализация активов
          a(href="#").menu__item Пресс центр
          a(href="#").menu__item Вакансии
          a(href="#").menu__item Контакты
          button(type="button").menu__item.search

    main.main
      .wrapper
        .breadcrumbs
          a(href="#").breadcrumbs__item Главная
          a(href="#").breadcrumbs__item О компании
          span.breadcrumbs__item История холдинга

        h1.h1 История холдинга
        .detail
          p.
            В 2000 году в рамках «Региональной программы развития и реструктуризации лесопромышленного
            комплекса Ханты-Мансийского автономного округа - Югры» состоялся запуск инвестиционного
            проекта по техническому перевооружению и развитию лесозаготовительного и лесоперерабатывающего
            производства.
          p.
            В 2004 году был образован АО «Югорский лесопромышленный холдинг» аккумулировал большинство
            лесопромышленных проектов, сформировав интегрированное производство продукции лесной
            промышленности с высокой добавленной стоимостью.

          .timeline
            .timeline__item
              .timeline__item-left 2003
              .timeline__item-right
                p.
                  Принято решение о создании ОАО «Югорский лесопромышленный холдинг» Правительством
                  Ханты-Мансийского автономного округа – Югра от 29 декабря 2003 года № 1035 АРП.
            .timeline__item
              .timeline__item-left 2004
              .timeline__item-right
                p Зарегистрировано ОАО «Югорский лесопромышленный холдинг» с уставным капиталом 2 100, 0 млн. рублей.
                p.
                  Увеличен уставной капитал ОАО «Югорский лесопромышленный холдинг» на 71,5млн. руб. за
                  счет 50% акций ОАО «ЛВЛ–Югра».
            .timeline__item
              .timeline__item-left 2005
              .timeline__item-right
                p.
                  Реализован инвестиционный проект «Перевооружение основных средств лесозаготовительного
                  передела работ» – внедрена сортиментная заготовка, приобретено 10 комплексов.
                p Зарегистрировано ООО «ЛВЛ-Стройпроект».
                p Зарегистрировано ООО «Лесопильные заводы Югры».
                p Получен Европейский сертификат качества на «UGRA Конструкционный брус клееный из шпона».
                p.
                  Уполномоченным органом VTT Building and Transport выдано экспертное заключение
                  «О соответствии ЛВЛ-Бруса требованиям европейского стандарта EN 14374»



    footer.footer
      .wrapper
        .footer-block
          .footer-left
            p.
              628011, Россия, Тюменская область, Ханты-Мансийский автономный округ — Югра,
              г. Ханты-Мансийск, ул. Рознина, д. 71
            p Телефон: +7 (3467) <b>35-62-73</b>, Факс: + 7 (3467) <b>36-30-33</b>
          .footer-right
            a(href="#").uw
        .footer-bottom © Copyright АО «Югорский Лесопромышленный Холдинг», 2005-2017
