extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'О компании', 'История холдинга')

      h1.h1 История холдинга
      .detail
        p.
          В 2000 году в рамках «Региональной программы развития и реструктуризации лесопромышленного
          комплекса Ханты-Мансийского автономного округа - Югры» состоялся запуск инвестиционного
          проекта по техническому перевооружению и развитию лесозаготовительного и лесоперерабатывающего
          производства.
        p.
          В 2004 году был образован АО «Югорский лесопромышленный холдинг» аккумулировал большинство
          лесопромышленных проектов, сформировав интегрированное производство продукции лесной
          промышленности с высокой добавленной стоимостью.

        .timeline
          .timeline__item
            .timeline__item-left 2003
              span
            .timeline__item-right
              p.
                Принято решение о создании ОАО «Югорский лесопромышленный холдинг» Правительством
                Ханты-Мансийского автономного округа – Югра от 29 декабря 2003 года № 1035 АРП.
          .timeline__item
            .timeline__item-left 2004
              span
            .timeline__item-right
              p Зарегистрировано ОАО «Югорский лесопромышленный холдинг» с уставным капиталом 2 100, 0 млн. рублей.
              p.
                Увеличен уставной капитал ОАО «Югорский лесопромышленный холдинг» на 71,5млн. руб. за
                счет 50% акций ОАО «ЛВЛ–Югра».
          .timeline__item
            .timeline__item-left 2005
              span
            .timeline__item-right
              p.
                Реализован инвестиционный проект «Перевооружение основных средств лесозаготовительного
                передела работ» – внедрена сортиментная заготовка, приобретено 10 комплексов.
              p Зарегистрировано ООО «ЛВЛ-Стройпроект».
              p Зарегистрировано ООО «Лесопильные заводы Югры».
              p Получен Европейский сертификат качества на «UGRA Конструкционный брус клееный из шпона».
              p.
                Уполномоченным органом VTT Building and Transport выдано экспертное заключение
                «О соответствии ЛВЛ-Бруса требованиям европейского стандарта EN 14374»
          .timeline__item
            .timeline__item-left 2006
              span
            .timeline__item-right
              p Зарегистрировано ООО «ЮграТрансСервис».
          .timeline__item
            .timeline__item-left 2008
              span
            .timeline__item-right
              p.
                Реализован проект жилищной застройки «Образцово-малоэтажный комплекс» в г Ханты-Мансийск
                общей площадью застройки земельного участка 3,5 га, площадью жилой застройки 9,5 тыс. кв.м.
          .timeline__item
            .timeline__item-left 2009
              span
            .timeline__item-right
              p.
                Заключение первого договора аренды лесных насаждений сроком на 20 лет с разрешенным
                объемом вырубки 454,6 тыс. куб.м./год.
          .timeline__item
            .timeline__item-left 2012
              span
            .timeline__item-right
              p.
                Разработана и утверждена «Стратегия развития ОАО «Югорский лесопромышленный холдинг»
                на период 2013-2017 годы».
          .timeline__item
            .timeline__item-left 2014
              span
            .timeline__item-right
              p Годовая выручка Общества впервые превысила 2,0 млрд. рублей.
          .timeline__item
            .timeline__item-left 2015
              span
            .timeline__item-right
              p Прохождение EFC сертификации с получением сертификатов:
              p 1. FC-PEFC-FCR-005 лесоуправления и лесопользования;
              p 2. FC-PEFC-FCR-006 цепочки поставок.
          .timeline__item
            .timeline__item-left 2016
              span
            .timeline__item-right
              p.
                Заключен договор управления АО «Югра-плит» и осуществлен выпуск продукции ДСП на балансе Общества.
                Выручка за год превысила 3 млрд. руб.

        p.
          Сегодня АО «Югорский лесопромышленный холдинг» активно расширяет объемы выпуска и рынки
          сбыта готовой продукции. На высоком уровне находится эффективность использования лесных
          ресурсов Ханты-Мансийского автономного округа - Югры.
