extends layout

block content

  main.main
    .wrapper
      +breadcrumbs('Главная', 'О компании', 'Подразделения')

      h1.h1 Подразделения
      .detail
        .units
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/unit-1.png')")
              .units__item-name «ЮграТрансСервис»
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/unit-2.png')")
              .units__item-name «Лесопильные заводы»
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/unit-3.png')")
              .units__item-name «ЛВЛ-Югра»
          a(href="#").units__item
            .units__item-block
              .units__item-wrap(style="background-image: url('images/unit-4.png')")
              .units__item-name «Югра-плит»
